<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolinea "Fenix"</title>
    <link rel="stylesheet" href='../static/css/style.css'><!--"{{ url_for('static', filename='css/main.css') }}"-->
    <link rel="icon" href="../static/imgs/logo.png">
</head>
<body>
    <header>
        
        <a href="#" class="logo">
            <img src="../static/imgs/logo.png" alt="logo de la compañia" class="logo-img">
            <h2 class="logo-nombre">F E N I X</h2>
        </a>
        
        <nav>
            <a href={{ url_for('vuelos') }} class="nav-link">VUELOS</a>
            <a href="#" class="nav-link">MI RESERVA</a>
            <a href="#" class="nav-link">CHECK IN</a>
            <a href="#" class="nav-link">ESTADO DE VUELO</a>
        </nav>

    </header>
    <body background="../static/imgs/fondo.jpg"></body>
    <body>

    </body>



</body>
</html>