<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolinea Fenix</title>
    <link rel="stylesheet" href='../static/css/style.css'>
    <link rel="icon" href="../static/imgs/logo.png">
</head>
<body>
    <header>
        <!-- ************************** Barra de navegacion *********************** -->
        <a href="{{url_for('home')}}" class="logo">
            <img src="../static/imgs/logo.png" alt="logo de la compañia" class="logo-img">
            <h2 class="logo-nombre">F E N I X</h2>
        </a>
        
        <nav>
            <a href="{{url_for('vuelos')}}" class="nav-link">VUELOS</a>
            <a href="{{url_for('reserva')}}" class="nav-link">RESERVA</a>
            <a href="{{url_for('pagos')}}" class="nav-link">PAGOS</a>
        </nav>
        <!-- ********************************************************************** -->
        <body background="../static/imgs/fondo6.jpg"></body>
    </header>
    <div>
        <div class="box">
            <h1 style="color:#000000" class="text-center mt-5 mb-5">PAGO</h1>
            <form action="/action/crear_Pago" method="POST">

            {% for reservas in reserva %}
            <small>C.I.:</small>
            <input type="text" class="form-control mb-3" value="{{reservas.ciPasajero}}" name="CI_pasajero">
            <br></br>
            <small>Nombre:</small>
            <input type="text" class="form-control mb-3" value="{{reservas.nombre_pasajero}}" name="nombrePasagero">
            <br></br>
            <small>id vuelo:</small>
            <input type="text" class="form-control mb-3" value="{{reservas.idVuelo}}" name="Vuelo">
            <br></br>
            <small>Asiento:</small>
            <input type="text" class="form-control mb-3" value="{{reservas.asiento}}" name="asiento">
            <br></br>
            {% endfor %}
            {% for vuelos in vuelo %}
            <small>fechaSalida:</small>
            <input type="text" class="form-control mb-3" value="{{vuelos.fechaSalida}}" name="fechaSalida">
            <br></br>
            <small>destino:</small>
            <input type="text" class="form-control mb-3" value="{{vuelos.destino}}" name="destino">
            <br></br>
            {% endfor %}
            <br>
            <label>Numero de Tarjeta</label>
            <br>
            <input type="text" class="form-control mb-3" name="numeroTargeta">
            <br>
            <br>
            <button class="favorite styled" type="submit">PAGAR</button>
            <br>
        </form>
        </div>
    </div>
</body>
</html>