<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolinea Fenix</title>
    <link rel="stylesheet" href='../static/css/style.css'>
    <link rel="icon" href="../static/imgs/logo.png">
</head>
<body>
    <header>
        <!-- ************************** Barra de navegacion *********************** -->
        <a href="{{url_for('home')}}" class="logo">
            <img src="../static/imgs/logo.png" alt="logo de la compañia" class="logo-img">
            <h2 class="logo-nombre">F E N I X</h2>
        </a>
        
        <nav>
            <a href="{{url_for('vuelos')}}" class="nav-link">VUELOS</a>
            <a href="{{url_for('reserva')}}" class="nav-link">RESERVA</a>
            <a href="{{url_for('pagos')}}" class="nav-link">PAGOS</a>
        </nav>
        <!-- ********************************************************************** -->
    </header>

    <br></br>
    <div class="container">
        <h1 class="text-center mt-5 mb-5">VUELOS</h1>
    </div>
    <td class="func1"><a href="{{ url_for('vuelos_crear') }}"><button type="submit">CREAR</button></a></td>
    <br></br>

    <div class="card-body">
        <ul class="list-group">
            <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                <!-- muestra grupo de vuelos -->
                {% for vuelo in vuelos %}
                    <div class="col">
                        <li class="list-group-item mb-3">
                            <form action="/edit/{{vuelo.idVuelo}}" method="POST">
                                <small>ID Vuelo:</small>
                                <input type="text" class="form-control" value="{{vuelo.idVuelo}}" name="idVuelo">
                                <br></br>
                                <small>Fecha de Salida: </small>
                                <input type="text" class="form-control" value="{{vuelo.fechaSalida}}" name="fechaSalida">
                                <br></br> 
                                <small>Destino: </small>
                                <input type="text" class="form-control" value="{{vuelo.destino}}" name="destino">
                                <br></br>
                                <small>Capacidad de Vuelo: </small>
                                <input type="text" class="form-control" value="{{vuelo.capacidad}}" name="capacidad">
                                <br></br>
                                <small>Aeropuerto de Origen: </small>
                                <input type="text" class="form-control" value="{{vuelo.aeropuertoOrigen}}" name="aeropuertoOrigen">
                                <br></br>
                                <small>Aeropuerto de Destino</small>
                                <input type="text" class="form-control" value="{{vuelo.aeropuertoDestino}}" name="aeropuertoDestino">
                                <br></br>

                                <button class="btn btn-primary btn-sm mt-3" type="submit">EDITAR</button>
                                <a href="{{url_for('remove', vuelo_id=vuelo.idVuelo)}}" class="btn btn-primary btn-sm mt-3">ELIMINAR</a>
                            </form>
                        </li>
                    </div>
                    <br></br>
                {% endfor %}
                <!-- ******************************************************************* -->
            </div>
        </ul>
    </div> 

</body>
</html>