<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolinea Fenix</title>
    <link rel="stylesheet" href='../static/css/style.css'>
    <link rel="icon" href="../static/imgs/logo.png">
    
</head>
<body>
    <header>
        <!-- ************************** Barra de navegacion *********************** -->
        <a href="{{url_for('home')}}" class="logo">
            <img src="../static/imgs/logo.png" alt="logo de la compañia" class="logo-img">
            <h2 class="logo-nombre">F E N I X</h2>
        </a>
        
        <nav>
            <a href="{{url_for('vuelos')}}" class="nav-link">VUELOS</a>
            <a href="{{url_for('reserva')}}" class="nav-link">RESERVA</a>
            <a href="{{url_for('pagos')}}" class="nav-link">PAGOS</a>
        </nav>
        <!-- ********************************************************************** -->
        <body background="../static/imgs/fondo4.jpg"></body>
    </header>

    <br></br>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center mt-5 mb-5">AÑADIR VUELOS</h1>
            </div>
            <div class="card-body">
                <form action="/action" method="POST">
                    <small>ID Vuelo</small>
                    <input type="text" class="form-control mb-3" name="idVuelo">
                    <br></br>
                    <small>Fecha de Salida</small>
                    <input type="date" class="form-control mb-3" name="fechaSalida">
                    <br></br>
                    <small>Destino</small>
                    <input type="text" class="form-control mb-3" name="destino">
                    <br></br>
                    <small>Capacidad</small>
                    <input type="text" class="form-control mb-3" name="capacidad">
                    <br></br>
                    <small>Disponibilidad</small>
                    <input type="text" class="form-control mb-3" name="disponibilidad">
                    <br></br>
                    <small>Costo</small>
                    <input type="text" class="form-control mb-3" name="costo">
                    <br></br>
                    <small>Aeropuerto de Origen</small>
                    <input type="text" class="form-control mb-3" name="aeropuertoOrigen">
                    <br></br>
                    <small>Aeropuerto de Destino</small>
                    <input type="text" class="form-control mb-3" name="aeropuertoDestino">
                    <br></br>
                    <button class="favorite styled" type="submit">CREAR</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>